body{
    text-align: center;
}

table {
    margin: 0 auto;
    text-align: center;
    border: 5px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius:30px ;
    background-color:bisque;
}

td {
    padding: 5px;
    border-top: 0px;
    border-right: 0px solid black;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
}
th {
    padding: 5px;
    border-top: 0px;
    border-right: 0px ;
    border-bottom: 0px ;
    border-left: 0px ;
}
span{
    text-align: center;
    background-color: aqua;
    
}
td.a{
    background-color: aqua;
}